<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <script src="https://ssl.captcha.qq.com/TCaptcha.js"></script>
    <title>汉服圈</title>
    <link rel="stylesheet" href="../ui/layui/css/layui.css">
    <link rel="stylesheet" href="../css/theme/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.0/index.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.0/axios.js"></script>
    <script src="../ui/layui/layui.js"></script>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing:border-box;
    }
    html{
        width: 100%;
        height: 100%;
        min-width:1000px;
    }

</style>
<body>

<div id="topHeader" style="height: 70px;width: 100%;background-color: RGB(16,123,248)">
    <div id="topHeaderLeft" style="background-color: RGB(16,123,248);width: 70%;height: 100%;float: left">
        <p style="display: inline-block;color: white;font-size: 23px;font-weight: revert;line-height: 70px;margin-left: 200px"> 汉服圈~找回密码 </p>
        <p style="display: inline-block;color: white;font-size: 15px;margin-left: 40px">重置密码</p>
    </div>
    <div id="topHeaderRight" style="float: right;height: 100%;width: 30%;background-color: RGB(16,123,248)">
        <a href="#" style="display: inline-block;line-height: 70px;margin-left: 50px;color: white;text-decoration:none">反馈问题</a>
        <a href="#" style="display: inline-block;line-height: 70px;margin-left: 50px;color: white;text-decoration:none">登录</a>
    </div>
</div>

<div id="main" style="width: 1000px;margin: 70px auto;height: 250px;">


    <el-steps :active="active" finish-status="success">
        <el-step title="步骤 1"></el-step>
        <el-step title="步骤 2"></el-step>
        <el-step title="步骤 3"></el-step>
    </el-steps>



    <div style="margin: 100px auto 0px;width: 250px;height: 100px"><p style="font-size: 15px;"></p>
        <label v-show="active == 0 ">
            <input  type="text" required lay-verify="required" placeholder="请输入您的邮箱" autocomplete="off" v-model="email"
                    class="layui-input"  style="width: 300px;height: 40px;border-radius: 6px;border-width: 1px;margin-top: 7px;border-color: #4E5465">
        </label>
        <label v-show="active ==1">
            <input  type="text" required lay-verify="required" placeholder="请输入邮箱验证码" autocomplete="off" v-model="mycode"
                    class="layui-input"  style="width: 300px;height: 40px;border-radius: 6px;border-width: 1px;margin-top: 7px;border-color: #4E5465">
        </label>
        <label v-show="active == 2">
            <input  type="text" required lay-verify="required" placeholder="请输入您新密码" autocomplete="off" v-model="newPassWord"
                    class="layui-input"  style="width: 300px;height: 40px;border-radius: 6px;border-width: 1px;margin-top: 7px;border-color: #4E5465">
        </label>
        <label v-show="active == 3">
            <h2>{{messaget}}</h2>
        </label>
    </div>

    <div v-show="active == 0 " style="margin: 0px auto;width: 70px;height: 100px"><p>   &nbsp; &nbsp; &nbsp;   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;验证码:</p>

        <button id="TencentCaptcha"
                data-appid="1304752328"
                data-cbfn="callback"
                type="button" style="width: 60px;background-color: rgb(16,123,248);height: 30px;margin-left: 10px"
        >验证</button><br>
    </div>
    <el-button style="margin-top: 50px;margin-left: 465px" @click="next">下一步</el-button>

</div>
<script>
    window.callback = function(res){
        console.log(res)
// res（用户主动关闭验证码）= {ret: 2, ticket: null}
// res（验证成功） = {ret: 0, ticket: "String", randstr: "String"}
        if(res.ret === 0){
            // alert(res.ticket)   // 票据
            app.yztg = true;
        }
    }
    const app = new Vue({
        el:'#main',
        data:{
            active: 0,
            yztg:false,
            account:'',
            email:'',
            code:'',
            mycode:'',
            user:'',
            newPassWord:'',
            messaget:''
        },
        methods: {
            next() {
                if(this.email == ''){
                    this.$message.error('请输入邮箱！');
                    return ;
                }
                let regEmail = /^[A-Za-z0-9\u4e00-\u9fa5]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
                if (this.email !== '' && !regEmail.test(this.email)) {
                    this.$message.error('邮箱格式不正确');
                    return ;
                }
                if(this.yztg == true){
                    if (this.active++ > 2){
                        this.active = 0;
                    }
                    if(this.active == 1){

                        axios({
                            method:'post',
                            url:'/sendEmail',
                            params:{
                                email:this.email,
                            }
                        }).then(res => {
                            if (res.data == null) {
                                alert("发送失败");
                                return;
                            }
                            this.$message.success("发送邮箱验证码成功！")
                            this.code = res.data;
                        })

                    }
                    if(this.active == 2){
                        if(this.mycode != this.code){
                            this.active--;
                            this.$message.error("邮箱验证码输入不正确！");
                            return;
                        }else {
                            this.$message.success("验证通过");
                            axios({
                                method:'post',
                                url:'/getUserByEamil',
                                data:{
                                    email:this.email,
                                }
                            }).then(res => {
                                sessionStorage.setItem("token", res.data);

                            })
                        }
                    }
                    if(this.active == 3) {
                        debugger;
                        axios({
                            method:'post',
                            url:'/token/changePassword',
                            headers:{
                                'token' : sessionStorage.getItem("token")
                            },
                            data:{
                                newPassWord:this.newPassWord
                            }
                        }).then(res=> {
                            this.$message.success('修改密码成功！');
                            this.messaget="修改成功！两秒后跳转...";
                            setTimeout(function (){
                                window.location.href='http://localhost/';
                            },2000)
                        })
                    }

                }else {
                    this.$message.error("未验证！")
                }
            }
        }
    })
</script>
</body>
</html>