<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>汉服圈</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../ui/layui/css/layui.css">
    <link rel="stylesheet" href="../css/theme/index.css">
    <!-- 引入组件库 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.0/index.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.0/axios.js"></script>
    <script src="../ui/layui/layui.js"></script>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing:border-box;
    }
    body{
        min-width: 1350px;
    }
    #header{
        height: 40px;
        border-bottom: 1px solid #ddd;
    }
    #headerMain{
        width: 1400px;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
    }
    #header2{
        height: 120px;
        border-bottom: 1px solid #ddd;
        /*border:1px red solid;*/
    }
    #headerMain2{
        width: 1400px;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
    }
    #header3{
        height: 50px;
        border-bottom: 1px solid #ddd;
    }
    #headerMain3{
        width: 1400px;
        height: 100%;
        margin: 0 auto;
    }
    #shoppingCart:hover{
        background-color: #ff6354;
    }
    #shoppingCart{
        cursor:pointer;
        width: 120px;
        float: left;
        margin-left: 100px;
        margin-top: 5px;
        height: 40px;
    }
    #carouselMap{
        height: 400px;
        border-bottom: 1px solid #ddd;
    }
    #carouselMapMain{
        width: 1400px;
        height: 400px;
        margin: 0 auto;
    }
    #main{
        height:2000px;
        overflow: hidden;
    }
    #mainMain{
        width: 1400px;
        height: 100%;
        margin: 0 auto;
    }
    #todayRecommendation{
        border: 1px solid #ddd;
        height: 610px;
        margin-top: 25px;
    }
    #newArrival{
        border: 1px solid #ddd;
        height: 610px;
        margin-top: 25px;
    }
    #guessYouLikeIt{
        border: 1px solid #ddd;
        height: 610px;
        margin-top: 25px;
    }
    #classificationHanFu:hover{
        color: #ff4f3b;
    }
    #classificationHanFu{
        float: left;
        line-height: 50px;

    }
    .aHover:hover{
        color: #ff4f3b;
    }
    .shopCss{
        /*border: #1E9FFF;*/
        border-right: 1px solid #ddd;
        cursor:pointer;
        float: left;
        border-bottom: 1px solid #ddd;


    }
    .shopCss:hover{
        /*box-shadow:0 2px 4px rgba(0,0,0,.12),0 0 6px rgba(0,0,0,.04)*/
        border: 1px solid #c14f1f;
    }

</style>
<body>
<div style="height: 210px;margin: 0 auto">
<iframe src="hfqTop.html" width="100%" height="220px" scrolling="no" frameborder="0" target=_parent>
</iframe>
</div>


<div id="carouselMap">
    <div id="carouselMapMain">
        <div class="layui-carousel"  id="test1" >
            <div carousel-item>
                <div><img width="100%" src="../pic/henFu2.png"  alt="error" /></div>
                <div><img  width="100%" src="../pic/hanFu15.png"alt="error"/></div>
                <div><img width="100%" src="../pic/hanFu6.jpg"  alt="error" /></div>
                <!--                <div>条目4</div>-->
                <!--                <div>条目5</div>-->
            </div>
        </div>
    </div>
</div>
<div id="main">
    <div id="mainMain">
        <div id="newArrival" >
            <div id="newArrivalHead" style="height: 50px;border-bottom: 1px solid #ddd;
            line-height: 50px;color: #ff5046;font-size: 22px;padding-left: 25px">
                今日推荐
                <span style="float: right;margin-right: 20px;margin-top: -2px">
                     <el-button  type="primary"  plain @click="newNextClick" >下一页</el-button>
                </span>
            </div>
            <div style="height: 559px;border-bottom: 1px solid #ddd;overflow: hidden">
                <div  v-for="(o,index) in tjShop" :key="o">
                    <img :src="o.shopHeadPicture" v-on:click="shopClick(o)" style="width: 279px;height: 279px;float: left" class="shopCss">
                </div>
            </div>
        </div>

        <div id="todayRecommendation" >
            <div id="todayRecommendationHead" style="height: 50px;border-bottom: 1px solid #ddd;
            line-height: 50px;color: #ff5046;font-size: 22px;padding-left: 25px">
                最新上架
                <span style="float: right;margin-right: 20px;margin-top: -2px">
                     <el-button  type="primary"  plain @click="newNextClick" >下一页</el-button>
                </span>
            </div>
            <div style="height: 560px;">
                <div style="height: 559px;border-bottom: 1px solid #ddd;overflow: hidden">
                    <div  v-for="(o,index) in newShopMessage" :key="o">
                    <img :src="o.shopHeadPicture" v-on:click="shopClick(o)" style="width: 279px;height: 279px;float: left" class="shopCss">
                    </div>
                </div>
                <div style="height: 50%;overflow: hidden">
                </div>
            </div>
        </div>
        <div id="guessYouLikeIt" >
            <div id="guessYouLikeItHead" style="height: 50px;border-bottom: 1px solid #ddd;
            line-height: 50px;color: #ff5046;font-size: 22px;padding-left: 25px">
                猜你喜欢
                <span style="float: right;margin-right: 20px;margin-top: -2px">
                     <el-button  type="primary"  plain @click="likeNextClick" >下一页</el-button>
                </span>
            </div>
            <div style="height: 559px;border-bottom: 1px solid #ddd;overflow: hidden">
                <div  v-for="(o,index) in likeShopMessage" :key="o">
                    <img :src="o.shopHeadPicture" v-on:click="shopClick(o)" style="width: 279px;height: 279px;float: left" class="shopCss">
                </div>
            </div>
        </div>
    </div>
    <div>
        <el-dialog
                width="50%"
                title="充值"
                :visible.sync="czVisible"
                append-to-body>
            <div v-if="user">
            <div style="margin-bottom:10px">您的余额<span style="color: red;font-size: 20px;font-weight: bold;margin-left: 10px">{{user.balance}}</span></div>
            </div>
            <div style="width: 400px"><el-input v-model="balance" placeholder="请输入充值金额"></el-input></div>
            <div slot="footer" class="dialog-footer">
                <el-button @click="czVisible = false">取 消</el-button>
                <el-button @click="czBalance">确认</el-button>
            </div>
        </el-dialog>


        <el-dialog title="个人信息修改" :visible.sync="dialogVisibleByModifyUserInf">
            <div><el-button type="primary" size="small" @click="innerVisible = true">修改密码</el-button></div>

            <div style="margin-top: 20px"><el-button type="primary" size="small" @click="userNameVisible = true">修改用户名</el-button></div>
            <el-dialog
                    width="50%"
                    title="修改用户名"
                    :visible.sync="userNameVisible"
                    append-to-body>

                <div style="margin-bottom:10px">请输入新用户名</div>
                <div style="width: 400px"><el-input v-model="newUserName" placeholder="请输入内容"></el-input></div>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="userNameVisible = false">取 消</el-button>
                    <el-button @click="changeName">确认</el-button>
                </div>
            </el-dialog>


            <el-dialog
                    width="50%"
                    title="修改密码"
                    :visible.sync="innerVisible"
                    append-to-body>

                <div>
                    <div style="margin-bottom: 10px">请输入旧密码</div>
                    <div style="width: 400px"><el-input show-password v-model="oldPassWord" placeholder="请输入内容"></el-input></div>
                </div>
                <div style="margin-top: 50px">
                    <div style="margin-bottom: 10px">输入新密码</div>
                    <div style="width: 400px"><el-input show-password v-model="newPassWord" placeholder="请输入内容"></el-input></div>
                </div>
                <div style="margin-top: 50px">
                    <div style="margin-bottom: 10px">请确认新密码</div>
                    <div style="width: 400px"><el-input show-password v-model="confirmNewPassword" placeholder="请输入内容"></el-input></div>
                </div>
                <div slot="footer" class="dialog-footer">
                <el-button @click="innerVisible = false">取 消</el-button>
                <el-button @click="changePassword">确认</el-button>
                </div>
            </el-dialog>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogVisibleByModifyUserInf = false">取 消</el-button>
<!--                <el-button @click="dialogVisibleByModifyUserInf = true">确定</el-button>-->
<!--                <el-button type="primary" @click="innerVisible = true">打开内层 Dialog</el-button>-->
            </div>
        </el-dialog>
    </div>
</div>
<div id="foot" style="width: 100%;height: 450px;margin: 0 auto;border-top: 1px solid #ddd;">
    <iframe src="hfqFoot.html" width="100%" height="450px"  frameborder="0" scrolling="no" >
    </iframe>
</div>


<script>
    var tjPage = 1
    var newShopMessagePage = 1

    var likeShopMessagePage = 1
function dd(){
    window.location.href="shdzgl.html";
}
    function parentSay(){
        main.dialogVisibleByModifyUserInf = true;
    }
    function cz(){
        main.czVisible = true;
    }
    // console.log(sessionStorage.getItem("token"))
    if (sessionStorage.getItem("token") == null) {
        window.location.replace("http://localhost/")
    }else {
        axios({
            method:'post',
            url:'/token/getLoginUser',
            headers:{
                'token' : sessionStorage.getItem("token")
            },
            data:{

            }
        }).then(res=> {
            // console.log(res.data);
            sessionStorage.setItem("user",JSON.stringify(res.data));
            let user = eval ("(" + sessionStorage.getItem("user") + ")");
            // document.getElementById("userName").innerHTML = user.userName;
        })
    }


    layui.use('carousel', function(){
        let carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#test1'
            ,indicator:'none'
            ,height:'100%'
            ,interval:'8000'
            ,width: '100%' //设置容器宽度
            ,arrow: 'hover' //始终显示箭头
            //,anim: 'updown' //切换动画方式
        });
    });
    const main = new Vue({
        el:'#main',
        data:{
            dialogVisibleByModifyUserInf:false,
            newShopMessage:{},
            likeShopMessage:{},
            innerVisible:false,
            oldPassWord:'',
            newPassWord:'',
            confirmNewPassword:'',
            userNameVisible:false,
            newUserName:'',
            czVisible:false,
            user:{},
            balance:'',
            tjShop:'',
            tanMessage:''
        },
        methods:{
            czBalance(){
              alert("充值成功！")
                axios({
                    method:'post',
                    url:'/token/czBalance',
                    headers:{
                        'token' : sessionStorage.getItem("token")
                    },
                    data:{
                        balance:this.balance
                    }
                }).then(res=> {
                    this.user.balance = res.data;
                    this.$message.success('充值成功!');
                    let user = eval ("(" + sessionStorage.getItem("user") + ")");
                    user.balance = res.data;
                    sessionStorage.setItem("user",JSON.stringify(user));
                })
            },
            changeName(){
                axios({
                    method:'post',
                    url:'/token/changeUserName',
                    headers:{
                        'token' : sessionStorage.getItem("token")
                    },
                    data:{
                        newUserName:this.newUserName
                    }
                }).then(res=> {
                    this.$message.success('修改用户名成功');
                    let user = eval ("(" + sessionStorage.getItem("user") + ")");
                    user.userName = this.newUserName;
                    sessionStorage.setItem("user",JSON.stringify(user));
                })
            },
            changePassword(){
                let user = eval ("(" + sessionStorage.getItem("user") + ")");
                if(this.oldPassWord != user.password){
                    alert(this.oldPassWord)
                    alert(user.password)
                    this.$message.error('旧密码输入错误！');
                    return;
                }
                if(this.newPassWord != this.confirmNewPassword){
                    this.$message.error('两次密码输入不一致！');
                    return
                }
                axios({
                    method:'post',
                    url:'/token/changePassword',
                    headers:{
                        'token' : sessionStorage.getItem("token")
                    },
                    data:{
                        newPassWord:this.newPassWord
                    }
                }).then(res=> {
                })
                this.$message.success('修改密码成功！');
                user = eval ("(" + sessionStorage.getItem("user") + ")");
                user.password = this.newPassWord;
                sessionStorage.setItem("user",JSON.stringify(user));
            },
            newNextClick(){
                newShopMessagePage = newShopMessagePage + 1;
                axios({
                    method:'post',
                    url:'/token/getIndexNewShopMeaage',
                    headers:{
                        'token' : sessionStorage.getItem("token")
                    },
                    data:{
                        page:newShopMessagePage
                    }
                }).then(res=> {
                    this.newShopMessage = res.data.data.data;
                    if(res.data.message == '到底了') {
                        newShopMessagePage = 1
                        axios({
                            method:'post',
                            url:'/token/getIndexNewShopMeaage',
                            headers:{
                                'token' : sessionStorage.getItem("token")
                            },
                            data:{
                                page:newShopMessagePage
                            }
                        }).then(res=> {
                            this.newShopMessage = res.data.data.data;
                            if(res.data.message == '到底了') {
                                newShopMessagePage = 1
                            }
                        })
                    }
                })
            },
            tjNextClick(){
                tjPage = tjPage + 1;
                axios({
                    method:'post',
                    url:'/token/getIndexNewShopMeaage',
                    headers:{
                        'token' : sessionStorage.getItem("token")
                    },
                    data:{
                        page:tjPage
                    }
                }).then(res=> {
                    this.tjShop = res.data.data.data;
                    if(res.data.message == '到底了') {
                        tjPage = 1
                        axios({
                            method:'post',
                            url:'/token/getIndexNewShopMeaage',
                            headers:{
                                'token' : sessionStorage.getItem("token")
                            },
                            data:{
                                page:tjPage
                            }
                        }).then(res=> {
                            this.tjShop = res.data.data.data;
                            if(res.data.message == '到底了') {
                                tjPage = 1
                            }
                        })
                    }
                })

            },
            likeNextClick(){
                likeShopMessagePage = likeShopMessagePage + 1;
                axios({
                    method:'post',
                    url:'/token/getIndexNewShopMeaage',
                    headers:{
                        'token' : sessionStorage.getItem("token")
                    },
                    data:{
                        page:likeShopMessagePage
                    }
                }).then(res=> {
                    this.likeShopMessage = res.data.data.data;
                    if(res.data.message == '到底了') {
                        likeShopMessagePage = 1
                        axios({
                            method:'post',
                            url:'/token/getIndexNewShopMeaage',
                            headers:{
                                'token' : sessionStorage.getItem("token")
                            },
                            data:{
                                page:likeShopMessagePage
                            }
                        }).then(res=> {
                            this.likeShopMessage = res.data.data.data;
                            if(res.data.message == '到底了') {
                                likeShopMessagePage = 1
                            }
                        })
                    }
                })
            },


            shopClick(shop){
                sessionStorage.setItem("shopBuyDetailShop",JSON.stringify(shop))
                window.location.href ='shoppingDetails.html';
            }
        },
        created :function (){
          this.user =   eval ("(" + sessionStorage.getItem("user") + ")");
          console.log(this.user)
        },
        beforeCreate: function (){
            axios({
                method:'post',
                url:'/token/getIndexNewShopMeaage',
                headers:{
                    'token' : sessionStorage.getItem("token")
                },
                data:{
                    page:newShopMessagePage
                }
            }).then(res=> {
                this.newShopMessage = res.data.data.data;
            })


            axios({
                method:'post',
                url:'/token/getLikeShopMeaage',
                headers:{
                    'token' : sessionStorage.getItem("token")
                },
                data:{
                    page:likeShopMessagePage
                }
            }).then(res=> {
                this.likeShopMessage = res.data.data.data;
            })



            axios({
                method:'post',
                url:'/token/getTjShop',
                headers:{
                    'token' : sessionStorage.getItem("token")
                },
                data:{
                    page:tjPage
                }
            }).then(res=> {
                 this.tjShop = res.data.data.data;
            })
            axios({
                method:'post',
                url:'/token/getNotification',
                headers:{
                    'token' : sessionStorage.getItem("token")
                },
                data:{

                }
            }).then(res => {
                main.tanMessage = res.data
                this.$notify({
                    title: '提示',
                    message: res.data,
                    duration: 0
                });
            })
        }
    })
    console.log(main.newShopMessage)
</script>
</body>
</html>