<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>汉服圈</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../ui/layui/css/layui.css">
    <link rel="stylesheet" href="../css/theme/index.css">
    <!-- 引入组件库 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.0/index.js"></script>
    <!--    <script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.0/axios.js"></script>
    <script src="../ui/layui/layui.js"></script>
</head>
<style scoped>
    *{
        margin: 0;
        padding: 0;
    }
    #main{
        margin: 0 auto;
        width: 1000px;
        border: 1px solid #ebebeb;
        /*background-color: RGB(250,250,250);*/
        background-color: #F2F6FC;
    }
    .te input.el-input__inner{
        width: 100px;
        height: 50px;
        color: red;
        text-align:right
    }
    .photoPic{
        background-color: rgba(255,79,82,0.21);
        width: 100px;
        height: 95px
    }
    .photoPic:hover{
        background-color: rgba(255,79,82,0.49);
    }
    .el-dropdown-link {
        cursor: pointer;
        color: #409EFF;
    }
    .el-icon-arrow-down {
        font-size: 12px;
    }
    #refresh{
        cursor: pointer;
        font-size: 20px;
        color: #01AAED
    }
    #refresh:hover{
        color: #c35673;
    }
    #wypl:hover{
        color: #93D1FF;
    }
    #wypl{
        float: right;font-size: 30px;color: red;margin-right: 70px;cursor: pointer
    }
    #wydz{
        font-size: 30px; color: red;float: right;margin-right: 60px;cursor: pointer
    }
    #wydz:hover{
        color: #93D1FF;
    }

</style>
<body>
<div style="height: 250px;margin: 0 auto">
    <iframe src="hfqTop.html" width="100%" height="220px" scrolling="no" frameborder="0">
    </iframe>
</div>
<div id="main">
    <el-upload
            v-show="false"
            class="upload-demo"
            action="/dynamicPic"
            :data="PicUpload"
            :before-remove="beforeRemove"
            :on-success="shopHeadPicSuccess"
            multiple
            :limit="9"
            :on-exceed="handleExceed"
    >
        <el-button    id="scPic" size="small" type="primary">点击上传</el-button>
    </el-upload>
    <!--    <div style="width: 100%;background-color: #93D1FF">-->
    <el-row>
        <el-col :span="4">&nbsp;</el-col>
        <el-col :span="14" style="margin-left: -8px">    <el-input
                type="textarea"
                :rows="4"
                placeholder="发表我的动态~~~~~"
                v-model="textarea">
        </el-input></el-col>
        <el-col :span="2">
            <div v-on:click="photoPicClick"  class="photoPic">
                <i style="margin-top:15px;margin-left:20px;font-size: 60px;color: #606266" class="el-icon-camera-solid"></i>
            </div>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="16">
            &nbsp;
        </el-col>
        <el-col style="margin-bottom: 30px;margin-left: -5px" :span="4">
            &nbsp;&nbsp;&nbsp;<el-button v-on:click="fbClick">发表</el-button>
        </el-col>
    </el-row>

    <el-backtop >
    </el-backtop>

    <el-row>
        <el-col :span="4">
            &nbsp;
        </el-col>

        <el-col :span="16">

            <el-card style="text-align: center;overflow: hidden" class="box-card" shadow="hover" v-if="fileList.length > 0">
                <div v-if="fileList.length == 1">
                    <img width="400px" height="400px" v-bind:src="fileList[0].url">
                </div>
                <div v-if="fileList.length == 2">
                    <img width="200px" height="200px" v-bind:src="fileList[0].url">
                    <img width="200px" height="200px" v-bind:src="fileList[1].url">
                </div>
                <div v-if="fileList.length == 3">
                    <img width="200px" height="200px" v-bind:src="fileList[0].url">
                    <img width="200px" height="200px" v-bind:src="fileList[1].url">
                    <img width="200px" height="200px" v-bind:src="fileList[2].url">
                </div>
                <div v-if="fileList.length == 4">
                    <img width="200px" height="200px" v-bind:src="fileList[0].url">
                    <img width="200px" height="200px" v-bind:src="fileList[1].url">
                    <img width="200px" height="200px" v-bind:src="fileList[2].url">
                    <br>

                    <img width="200px" height="200px" style="float: left;margin-left: 9px;margin-top: 5px" v-bind:src="fileList[3].url">
                </div>
                <div v-if="fileList.length == 5">
                    <img width="200px" height="200px" v-bind:src="fileList[0].url">
                    <img width="200px" height="200px" v-bind:src="fileList[1].url">
                    <img width="200px" height="200px" v-bind:src="fileList[2].url">
                    <br>
                    <img width="200px" height="200px" style="float: left;margin-left: 9px;margin-top: 5px" v-bind:src="fileList[3].url">
                    <img width="200px" height="200px" style="float: left;margin-left: 3px;margin-top: 5px"  v-bind:src="fileList[4].url">
                </div>

                <div v-if="fileList.length == 6" >
                    <img width="200px" height="200px" v-bind:src="fileList[0].url">
                    <img width="200px" height="200px" v-bind:src="fileList[1].url">
                    <img width="200px" height="200px" v-bind:src="fileList[2].url">
                    <br>
                    <img width="200px" height="200px" style="float: left;margin-left: 9px;margin-top: 5px"  v-bind:src="fileList[3].url">
                    <img width="200px" height="200px" style="float: left;margin-left: 3px;margin-top: 5px"  v-bind:src="fileList[4].url">
                    <img width="200px" height="200px" style="float: left;margin-left: 4px;margin-top: 5px"  v-bind:src="fileList[5].url">
                </div>

                <div v-if="fileList.length == 7">
                    <img width="200px" height="200px" v-bind:src="fileList[0].url">
                    <img width="200px" height="200px" v-bind:src="fileList[1].url">
                    <img width="200px" height="200px" v-bind:src="fileList[2].url">
                    <br>
                    <div style="overflow: hidden">
                        <img width="200px" height="200px" style="float: left;margin-left: 9px;margin-top: 5px"  v-bind:src="fileList[3].url">
                        <img width="200px" height="200px" style="float: left;margin-left: 3px;margin-top: 5px"  v-bind:src="fileList[4].url">
                        <img width="200px" height="200px" style="float: left;margin-left: 4px;margin-top: 5px"  v-bind:src="fileList[5].url">
                    </div>
                    <img width="200px" height="200px" style="float: left;margin-left: 9px;margin-top: 5px"  v-bind:src="fileList[6].url">
                </div>

                <div v-if="fileList.length == 8">
                    <img width="200px" height="200px" v-bind:src="fileList[0].url">
                    <img width="200px" height="200px" v-bind:src="fileList[1].url">
                    <img width="200px" height="200px" v-bind:src="fileList[2].url">
                    <br>
                    <div style="overflow: hidden">
                        <img width="200px" height="200px" style="float: left;margin-left: 9px;margin-top: 5px"  v-bind:src="fileList[3].url">
                        <img width="200px" height="200px" style="float: left;margin-left: 3px;margin-top: 5px"  v-bind:src="fileList[4].url">
                        <img width="200px" height="200px" style="float: left;margin-left: 4px;margin-top: 5px"  v-bind:src="fileList[5].url">
                    </div>
                    <img width="200px" height="200px" style="float: left;margin-left: 9px;margin-top: 5px"  v-bind:src="fileList[6].url">
                    <img width="200px" height="200px" style="float: left;margin-left: 3px;margin-top: 5px"  v-bind:src="fileList[7].url">
                </div>

                <div v-if="fileList.length == 9">
                    <img width="200px" height="200px" v-bind:src="fileList[0].url">
                    <img width="200px" height="200px" v-bind:src="fileList[1].url">
                    <img width="200px" height="200px" v-bind:src="fileList[2].url">
                    <br>
                    <div style="overflow: hidden">
                        <img width="200px" height="200px" style="float: left;margin-left: 9px;margin-top: 5px"  v-bind:src="fileList[3].url">
                        <img width="200px" height="200px" style="float: left;margin-left: 3px;margin-top: 5px"  v-bind:src="fileList[4].url">
                        <img width="200px" height="200px" style="float: left;margin-left: 4px;margin-top: 5px"  v-bind:src="fileList[5].url">
                    </div>
                    <img width="200px" height="200px" style="float: left;margin-left: 9px;margin-top: 5px"  v-bind:src="fileList[6].url">
                    <img width="200px" height="200px" style="float: left;margin-left: 3px;margin-top: 5px"  v-bind:src="fileList[7].url">
                    <img width="200px" height="200px" style="float: left;margin-left: 4px;margin-top: 5px"  v-bind:src="fileList[8].url">
                </div>

            </el-card>
            <div style="background-color: white;height: 45px">
                <span style="margin-left: 20px" >
                    <el-dropdown>
                        <div class="el-dropdown-link" style="line-height: 45px">
                        全部动态<i class="el-icon-arrow-down el-icon--right"></i>
                        </div>
                        <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item>黄金糕</el-dropdown-item>
                        <el-dropdown-item>狮子头</el-dropdown-item>
                        <el-dropdown-item>螺蛳粉</el-dropdown-item>
                        <el-dropdown-item disabled>双皮奶</el-dropdown-item>
                        <el-dropdown-item divided>蚵仔煎</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </span>
                <span style="float: right;line-height: 45px;margin-right: 20px;margin-top: 2px" >
                    <i class="el-icon-refresh-right" id="refresh"></i>
                </span>
            </div>

            <div id="dynamic">

                <div v-for="t in dynamicData">
                    <el-card  style="margin: 50px auto" v-for="z in t">

                        <div style="overflow: hidden">
                            <div style="float: left"><el-avatar :src="z.userHeadPic"></el-avatar></div>
                            <!--                        <span>{{z.userHeadPic}}</span>-->
                            <div style="color: #c35673;float: left;line-height: 35px;margin-left: 30px">{{z.userName}}</div>
                        </div>
                        <div style="margin-top: 20px;margin-bottom: 40px;margin-left: 10px">{{z.words}}</div>

                        <div style="margin: 0 auto;text-align: center;overflow: hidden" shadow="hover" v-if="z.picLength > 0">
                            <div v-if="z.picLength == 1">
                                <img width="400px" height="400px" v-bind:src="z.pic_1">
                            </div>
                            <div v-if="z.picLength == 2">
                                <img width="200px" height="200px" v-bind:src="z.pic_1">
                                <img width="200px" height="200px" v-bind:src="z.pic_2">
                            </div>
                            <div v-if="z.picLength == 3">
                                <img width="200px" height="200px" v-bind:src="z.pic_1">
                                <img width="200px" height="200px" v-bind:src="z.pic_2">
                                <img width="200px" height="200px" v-bind:src="z.pic_3">
                            </div>
                            <div v-if="z.picLength == 4">
                                <img width="200px" height="200px" v-bind:src="z.pic_1">
                                <img width="200px" height="200px" v-bind:src="z.pic_2">
                                <img width="200px" height="200px" v-bind:src="z.pic_3">
                                <br>
                                <img width="200px" height="200px" style="float: left;margin-left: 9px;margin-top: 5px" v-bind:src="z.pic_4">
                            </div>
                            <div v-if="z.picLength == 5">
                                <img width="200px" height="200px" v-bind:src="z.pic_1">
                                <img width="200px" height="200px" v-bind:src="z.pic_2">
                                <img width="200px" height="200px" v-bind:src="z.pic_3">
                                <br>

                                <img width="200px" height="200px" style="float: left;margin-left: 9px;margin-top: 5px" v-bind:src="z.pic_4">
                                <img width="200px" height="200px" style="float: left;margin-left: 3px;margin-top: 5px" v-bind:src="z.pic_5">
                            </div>

                            <div v-if="z.picLength == 6">
                                <img width="200px" height="200px" v-bind:src="z.pic_1">
                                <img width="200px" height="200px" v-bind:src="z.pic_2">
                                <img width="200px" height="200px" v-bind:src="z.pic_3">
                                <br>

                                <img width="200px" height="200px" style="float: left;margin-left: 9px;margin-top: 5px" v-bind:src="z.pic_4">
                                <img width="200px" height="200px" style="float: left;margin-left: 3px;margin-top: 5px" v-bind:src="z.pic_5">
                                <img width="200px" height="200px" style="float: left;margin-left: 4px;margin-top: 5px" v-bind:src="z.pic_6">
                            </div>

                            <div v-if="z.picLength == 7">
                                <img width="200px" height="200px" v-bind:src="z.pic_1">
                                <img width="200px" height="200px" v-bind:src="z.pic_2">
                                <img width="200" height="200px" v-bind:src="z.pic_3">
                                <br>

                                <img width="200px" height="200px" style="float: left;margin-left: 9px;margin-top: 5px" v-bind:src="z.pic_4">
                                <img width="200px" height="200px" style="float: left;margin-left: 3px;margin-top: 5px" v-bind:src="z.pic_5">
                                <img width="195" height="200px" style="float: left;margin-left: 4px;margin-top: 5px" v-bind:src="z.pic_6">
                                <br>
                                <img width="200px" height="200px" style="float: left;margin-left: 9px;margin-top: 5px" v-bind:src="z.pic_7">

                            </div>
                            <div v-if="z.picLength == 8">
                                <img width="200px" height="200px" v-bind:src="z.pic_1">
                                <img width="200px" height="200px" v-bind:src="z.pic_2">
                                <img width="200px" height="200px" v-bind:src="z.pic_3">
                                <br>

                                <img width="200px" height="200px" style="float: left;margin-left: 9px;margin-top: 5px" v-bind:src="z.pic_4">
                                <img width="200px" height="200px" style="float: left;margin-left: 3px;margin-top: 5px" v-bind:src="z.pic_5">
                                <img width="200px" height="200px" style="float: left;margin-left: 4px;margin-top: 5px" v-bind:src="z.pic_6">
                                <br>
                                <img width="200px" height="200px" style="float: left;margin-left: 9px;margin-top: 5px" v-bind:src="z.pic_7">
                                <img width="200px" height="200px" style="float: left;margin-left: 3px;margin-top: 5px" v-bind:src="z.pic_8">
                            </div>
                            <div v-if="z.picLength == 9">
                                <img width="200px" height="200px" v-bind:src="z.pic_1">
                                <img width="200px" height="200px" v-bind:src="z.pic_2">
                                <img width="200px" height="200px" v-bind:src="z.pic_3">
                                <br>
                                <img width="200px" height="200px" style="float: left;margin-left: 9px;margin-top: 5px" v-bind:src="z.pic_4">
                                <img width="200px" height="200px" style="float: left;margin-left: 3px;margin-top: 5px" v-bind:src="z.pic_5">
                                <img width="200px" height="200px" style="float: left;margin-left: 4px;margin-top: 5px" v-bind:src="z.pic_6">
                                <br>
                                <img width="200px" height="200px" style="float: left;margin-left: 9px;margin-top: 5px" v-bind:src="z.pic_7">
                                <img width="200px" height="200px" style="float: left;margin-left: 3px;margin-top: 5px" v-bind:src="z.pic_8">
                                <img width="200px" height="200px" style="float: left;margin-left: 4px;margin-top: 5px" v-bind:src="z.pic_9">
                            </div>
                        </div>

                        <div style="margin-top: 20px;margin-right: 30px;overflow: hidden">
                            <div style="float: right">{{z.createTime}}</div>
                        </div>
                        <div style="margin-top: 35px;overflow: hidden">
                            <i  id="wypl" class="el-icon-s-comment" v-on:click="plClick(z.id)"></i>
                            <i id="wydz"  class="layui-icon layui-icon-praise" v-on:click="dzClick"  style=""></i>
                        </div>
                    </el-card>
                </div>
            </div>
        </el-col>



    </el-row>

    <el-dialog
            width="40%"
            title="评论"
            :visible.sync="plVisible"
            append-to-body>
        <div style="overflow: hidden">
            <div style="width: 400px;margin-left: 50px;float: left">
                <el-input
                        type="textarea"
                        :rows="2"
                        placeholder="发表你的评论吧"
                        v-model="fbpltextarea">
                </el-input>
                <div v-for="o in allPlMessage" :key="o" class="text item">
                    <el-card class="box-card" style="margin-top: 10px">
                        <div style="overflow: hidden">
                            <div style="float: left"><el-avatar v-bind:src="o.user_tx"></el-avatar></div>
                            <div style="float: left;margin-left: 7px;color: #c35673">{{o.user_name }}</div>
                            <div style="float: left;margin-left: 20px;margin-top: 10px">{{o.pl }}</div>
                        </div>
                    </el-card>
                </div>
            </div>
            <div style="float: left;margin-left: 20px;margin-top: 5px"><el-button v-on:click="fbwdpl">发表</el-button></div>
        </div>
        <div slot="footer" class="dialog-footer">
            <el-button @click="plVisible = false">取 消</el-button>
            <el-button @click="plVisible = false">确认</el-button>
        </div>
    </el-dialog>

</div>
<div id="foot"  style="width: 100%;height: 370px;margin: 50px auto;border-top: 1px solid #ddd;">
    <iframe src="hfqFoot.html" width="100%" height="430px"  frameborder="0" scrolling="no" >
    </iframe>
</div>
<script>
    window.scrollTo(0,0);
    var shua = 0;
    setTimeout(function(){ shua = 1 }, 2000);
    window.onscroll = function(){
        var t = document.documentElement.scrollTop || document.body.scrollTop;  //离上方的距离
        var h =window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight; //可见宽度
        if( t > document.documentElement.scrollHeight - h -100 && shua == 1) {
            // var html="<div style='height: 200px;background-color: #c35673'>xxxxxxxxxxxxxxxxxxxx</div>"
            // document.getElementById("dynamic").innerHTML += html
            app.page += 1;
            app.dBottom();
        }
    }
    const app = new Vue({
        el:'#main',
        data:{
            fbpltextarea:'',
            page:1,
            dynamicData:[],
            user_Dynamic:{},
            picShow:'',
            textarea:'',
            fileList:[],
            PicUpload:{
                number:'',
                shoHeadPicUploadId:'',
                shoHeadPicUploadToken: sessionStorage.getItem('token'),
            },
            plVisible:false,
            chooseDtId:'',
            allPlMessage:'',
        },
        methods:{
            fbwdpl(){
                axios({
                    method:'post',
                    url:'/token/plfb',
                    headers:{
                        'token' : sessionStorage.getItem("token")
                    },
                    data:{
                        pl:this.fbpltextarea,
                        dynamicId:this.chooseDtId
                    }
                }).then(res=> {
                    this.shopMainPic = res.data;
                    this.$message.success('发表成功')
                })
            },
            dzClick(){
                this.$message.success('点赞');
            },
            plClick(id){
                this.plVisible = true;
                this.chooseDtId = id

                axios({
                    method:'post',
                    url:'/token/ckpl',
                    headers:{
                        'token' : sessionStorage.getItem("token")
                    },
                    data:{
                        ckpldtid:this.chooseDtId
                    }
                }).then(res=> {
                    this.allPlMessage = res.data;
                    debugger;
                    this.$message.success('查看成功')
                })

            },
            fbClick(){
                axios({
                    method:'post',
                    url:'/token/Publishingnews',
                    headers:{
                        'token' : sessionStorage.getItem("token")
                    },
                    data:{
                        textarea:this.textarea,
                        pic:this.fileList,
                    }
                }).then(res=> {
                    this.shopMainPic = res.data;
                    this.$message.success('发表成功')
                })
            },
            photoPicClick(){
                document.getElementById("scPic").click();
            },
            shopHeadPicSuccess(res){
                this.fileList.push({url:res})
                console.log(this.fileList[0])
                this.$message.success('图片上传成功')
            },
            dBottom(){
                axios({
                    method:'post',
                    url:'/token/getDynamicByTime',
                    headers:{
                        'token' : sessionStorage.getItem("token")
                    },
                    data:{
                        page:this.page
                    }
                }).then(res=> {
                    console.log(res.data)
                    this.dynamicData.push(res.data)
                    console.log(this.dynamicData)
                })
            }
        },
        created:function (){
            let shop = JSON.parse(sessionStorage.getItem("shopBuyDetailShop"));
            this.shop = shop;
            axios({
                method:'post',
                url:'/token/getDynamicByTime',
                headers:{
                    'token' : sessionStorage.getItem("token")
                },
                data:{
                    page:this.page
                }
            }).then(res=> {
                console.log(res.data)
                this.dynamicData.push(res.data)
                console.log(this.dynamicData)
            })
        }
    })
</script>
</body>
</html>