<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>汉服圈</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../ui/layui/css/layui.css">
    <link rel="stylesheet" href="../css/theme/index.css">
    <!-- 引入组件库 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.0/index.js"></script>
    <!--    <script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.0/axios.js"></script>
    <script src="../ui/layui/layui.js"></script>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
    }
    .shopCss{
        color: rgba(255,83,106,0.54);
        border-bottom: 1px solid #ddd;
        cursor: pointer;
        height: 100px;
    }
    .shopCss:hover{
        background-color: rgba(255,83,106,0.27);
    }
</style>
<body>
<div style="height: 250px;margin: 0 auto">
    <iframe src="hfqTop.html" width="100%" height="220px" scrolling="no" frameborder="0">
    </iframe>
</div>

<div style="width: 1400px;height: 600px;border: 1px solid #ddd;margin: 0 auto;overflow: hidden;color: rgba(255,83,106,0.54);" id="main">

    <div style="width: 1000px;height: 500px;margin: 0px auto;overflow: hidden">
        <div id="leftMain" style="width: 50%;height: 100%;float: left;">
            <div style="overflow: hidden">
                <div style="float: left;margin-top: 5px">商品名:&nbsp;&nbsp;</div>
                <div style="width: 150px;height: 100px;float: left">
                    <el-input  v-model="shop.shopName" size="small" placeholder="请输入内容" style="display: inline-block" ></el-input>
                </div>
            </div>
            <div style="overflow: hidden">
                <div style="float: left;margin-top: 5px">商品价格:&nbsp;&nbsp;</div>
                <div style="width: 150px;height: 100px;float: left">
                    <el-input  v-model="shop.shopPrice" size="small" placeholder="请输入内容" style="display: inline-block" ></el-input>
                </div>
            </div>
            <div style="overflow: hidden">
                <div style="float: left;margin-top: 5px">商品类型:&nbsp;&nbsp;</div>
                <div style="width: 150px;height: 100px;float: left">
                    <el-input  v-model="shop.shopFamily" size="small" placeholder="请输入内容" style="display: inline-block" ></el-input>
                </div>
            </div>
            <div style="overflow: hidden">
                <div style="float: left;margin-top: 5px">商品介绍:&nbsp;&nbsp;</div>
                <div style="width: 150px;height: 100px;float: left">
                    <el-input  v-model="shop.shopIntroduction" size="small" placeholder="请输入内容" style="display: inline-block" ></el-input>
                </div>
            </div>
        </div>
        <div id="rightMain" style="width: 50%;height: 100%;float: left;">
            <div style="cursor: pointer">
                商品头像:<img :src="shop.shopHeadPicture" width="100px" height="100px;" v-on:click="open1()">
            </div>
                 商品状态: {{shop.auditStatus}}
                <el-button type="primary"  size="small" @click="modifyState">修改状态</el-button>

            <div>
                <el-upload
                        class="upload-demo"
                        action="/updateShopHeadPic"
                        :data="shoHeadPicUpload"
                        :on-success="shopHeadPicSuccess"
                        v-show="false"
                        multiple
                        :limit="3"
                        :file-list="shoHeadPicUpload">
                    <el-button id="shopHeadPic" size="small" type="primary">点击上传~~~~~~~~</el-button>
                    <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
                </el-upload>
            </div>

            <div>
                <el-upload
                        class="upload-demo"
                        action="/shopDetailPic"
                        :on-preview="handlePreview"
                        :on-remove="handleRemove"
                        :file-list="fileList"
                        :data="token"
                         list-type="picture">
                    <el-button size="small" type="primary" >点击上传</el-button>
                    <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
                </el-upload>
            </div>
        </div>
        <div>
        </div>
    </div>
    <div style="margin: 20px auto 0;width: 310px">
        <el-button type="primary"  style="float: left;width: 150px" @click="open">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;修改&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</el-button>
        <el-button type="primary"  style="float: left;width: 150px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;返回首页&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</el-button>
    </div>
</div>

<div id="foot" style="width: 100%;height: 370px;margin: 50px auto;border-top: 1px solid #ddd;">
    <iframe src="hfqFoot.html" width="100%" height="430px"  frameborder="0" scrolling="no" >
    </iframe>
</div>
<script>


    new Vue({
        el: '#main',
        data: {
            token: {
                userToken: sessionStorage.getItem('token')
            },
            shoHeadPicUpload: {
                shoHeadPicUploadId:'',
                shoHeadPicUploadToken: sessionStorage.getItem('token')
            },
            shop:{
                auditStatus:'',
                id:'',
                shopName: '',
                shopHeadPicture:'',
                shopPrice:'',
                shopFamily:'',
                shopIntroduction:'',
            },

            fileList: [
            //     {
            //     // name: 'food.jpeg',
            //     url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100'
            // },
                //{
            //     name: 'food2.jpeg',
            //     url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100'
            // }
            ],
        },
        methods: {
            // uploadProcess(event, file, fileList) {
            //     this.imgFlag = true;
            //     console.log(event.percent);
            //     this.percent = Math.floor(event.percent);
            // },
            shopHeadPicSuccess(res){
                console.log(res)
                this.shop.shopHeadPicture = res;
                this.$message.success('图片上传成功')
            },
            modifyState(){
              if(this.shop.auditStatus == '未上架'){
                  this.shop.auditStatus = '上架'
              }else {
                  this.shop.auditStatus = '未上架'
              }
            },
            open1(){
                document.getElementById("shopHeadPic").click();
            },
            open() {
                this.$confirm('确认修改嘛?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios({
                        method:'post',
                        url:'/token/updateShop',
                        headers:{
                            'token' : sessionStorage.getItem("token")
                        },
                        data:{
                            shop: this.shop
                        }
                    }).then(res=> {
                        console.log(res.data);
                    })
                    this.$message({
                        type: 'success',
                        message: '修改成功!'
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            // handleRemove(file, fileList) {
            //     fileList.forEach(function (e) {
            //         console.log(e.response);
            //     })
            // },
            // handlePreview(file) {
            //     console.log(file);
            // }
        },
        created: function () {
            axios({
                method:'post',
                url:'/token/getShopById',
                headers:{
                    'token' : sessionStorage.getItem("token")
                },
                data:{
                    id:sessionStorage.getItem("shopIdToShopDetail")
                }
            }).then(res=> {
                // console.log(res.data);
                this.shop.auditStatus = res.data.auditStatus;
                this.shop.id = res.data.id;
                this.shop.shopName = res.data.shopName;
                this.shop.shopIntroduction = res.data.shopIntroduction;
                this.shop.shopPrice = res.data.shopPrice;
                this.shop.shopFamily = res.data.shopFamily;
                this.shop.shopHeadPicture =res.data.shopHeadPicture;
                this.shoHeadPicUpload.shoHeadPicUploadId =res.data.id;
            })

            axios({
                method:'post',
                url:'/token/getShopMainPic',
                headers:{
                    'token' : sessionStorage.getItem("token")
                },
                data:{
                    id:sessionStorage.getItem("shopIdToShopDetail")
                }
            }).then(res=> {
                console.log("~~~~~~"+res.data.shop_id);
                console.log("~~~~~~"+res.data.pic_2);
                console.log("~~~~~~"+res.data.id);
                // this.fileList.push()

            })

        }
    })

</script>
</body>
</html>