<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 minimum-scale=1.0 user-scalable=no" />
    <title>Title</title>
    <link rel="stylesheet" href="../ui/layui/css/layui.css" media="all">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.0/axios.js"></script>
    <link rel="stylesheet" href="../css/theme/index.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.0/index.js"></script>
    <script src="../ui/layui/layui.js"></script>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
    }
    html {
        height: 100%;
    }
    body{
        height: 100%;
        /*min-width: 1500px;*/
    }
    #account input{
        width: 470px;
        height: 50px;
        margin: 35px auto 35px;
        border-radius: 6px;
        border-width: 2px;
    }
    #account #Code{
        width: 200px;
        height: 50px;
        margin: 35px auto 35px;
        border-radius: 6px;
        border-width: 2px;
    }
    #isShow {
        width: 470px;
        height: 50px;
        margin: 35px auto 35px;
        box-sizing:border-box
    }

</style>
<body>
<div style="width: 400px;height: 100%">
    <div class="layui-carousel" id="test1" style="float: left;min-width: 400px;float: left;max-height: 1100px">
        <div carousel-item>
            <div><img src="https://cdn-go.cn/qq-web/zc.qq.com/latest/v3/img/01-4.jpg" alt="加载错误" height="100%"></div>
            <div><img src="https://cdn-go.cn/qq-web/zc.qq.com/latest/v3/img/01-3.jpg" alt="加载错误" height="100%"></div>
            <div><img src="https://cdn-go.cn/qq-web/zc.qq.com/latest/v3/img/01-1.jpg" alt="加载错误" height="100%"></div>
        </div>
    </div>
</div>
<div style="height: 100px;position: absolute;top: 100px;width: 100%;min-width: 1500px">
    <div style="width: 850px;height: 100px;margin: 0 auto">
        <div style="float: right;height: 500px;width: 500px">
            <div id="right">
                <div id="welcome" style="font-size: 44px; margin:0px auto 20px;text-align: center">
                    欢迎注册汉服圈~
                </div>
                <div  style="font-size: 30px;margin:0 auto;text-align: center">
                    每一天,乐在沟通
                </div>
                <div id="account">
                    <label>
                        <input type="text" v-model="userName" required lay-verify="required" placeholder="昵称" autocomplete="off"
                               class="layui-input">
                    </label>

                    <label>
                        <input type="password" v-model="password" required lay-verify="required" placeholder="密码" autocomplete="off"
                               class="layui-input">
                    </label>

                    <div id="showControl">
                        <label>
                            <input @click="showClick" id="email" type="text" v-model="email" required lay-verify="required" placeholder="邮箱" autocomplete="off"
                                   class="layui-input">
                        </label>
                        <div id="isShow" v-show="isShow" >
                            <label>
                                <input id="Code" type="text"  v-model="verificationCode"  name="title" required lay-verify="required" placeholder="验证码" autocomplete="off"
                                       class="layui-input" style="float: left;margin: 0 0 0 0;position: absolute;box-sizing:border-box" >
                            </label>
                            <label>
                                <input type="button" v-on:click="sendEmail"  v-bind:value="testTime" v-bind:disabled="disabled"  class="layui-btn layui-btn-lg" style="width: 260px;height: 50px;
            border-radius: 5px;display:block;margin: 0 0 35px 45%;box-sizing:border-box">
                            </label>
                        </div>
                    </div>
                    <input type="button" v-on:click="submitClick" value="立即注册"   class="layui-btn layui-btn-lg" style="width: 470px;height: 45px;
            border-radius: 5px;margin: 0 auto 0;display:block">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../ui/layui/layui.js" ></script>
<script>
    const right = new Vue({
        el:'#test1',
        data: {
            maxHeight: '1000px',
        }
    })
    const email = new Vue({
        el:'#account',
        data:{
            userName:'',
            password:'',
            verificationCode:'',
            isShow:false,
            disabled:false,
            email:'',
            testTime:'获取邮箱验证码',
        },
        computed:{

        },
        methods:{
            timeReduce(){

            },
            showClick(){
                this.isShow = !this.isShow;
            },
            sendEmail(){
                let regEmail = /^[A-Za-z0-9\u4e00-\u9fa5]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
                if (this.email === '' || !regEmail.test(this.email)) {
                    alert('邮箱格式不正确');
                    return ;
                }
                debugger
                axios({
                    method:'post',
                    url:'/sendEmail',
                    params:{
                        email:this.email,
                    }
                }).then(res => {
                    if (res.data == null) {
                        alert("发送失败");
                        return;
                    }
                    this.$message.success("发送邮箱验证码成功！")
                    email.disabled = true
                    email.testTime = 60
                    setInterval(function (){
                        email.testTime--
                        if(email.times == 0) {
                            email.times = '获取邮箱验证码';
                            email.disabled = false;
                            clearInterval(email.timer)
                        }
                    },1000)

                    sessionStorage.setItem("registerCode", res.data);
                })
            },
            submitClick() {
                if(this.verificationCode != sessionStorage.getItem("registerCode")){
                    alert("邮箱验证码错误！");
                    return;
                }
                axios({
                    method:'post',
                    url:'/register',
                    params:{
                        userName:this.userName,
                        password:this.password,
                        verificationCode:this.verificationCode,
                        email:this.email,
                    }
                }).then(res => {
                    if(res.data == null) {

                    }
                    this.$message.success("注册成功！两秒后跳转..");
                    setTimeout(function (){
                        window.location.href='http://localhost/';
                    },2000)
                })
            }
        }
    })
    layui.use('carousel', function(){
        let carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#test1'
            ,width: '400px' //设置容器宽度
            ,height:'100%'
            ,anim:'fade'
            ,arrow:'none'
            ,indicator:'none'
            ,interval:'3000'
            //,anim: 'updown' //切换动画方式
        });
    });
</script>
</body>
</html>