<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>汉服圈</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../ui/layui/css/layui.css">
    <link rel="stylesheet" href="../css/theme/index.css">
    <!-- 引入组件库 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.0/index.js"></script>
    <!--    <script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.0/axios.js"></script>
    <script src="../ui/layui/layui.js"></script>
</head>
<style scoped>
    *{
        margin: 0;
        padding: 0;
    }
    #main{
        margin: 0 auto;
        width: 1000px;
        border: 1px solid #ebebeb;
        /*background-color: RGB(250,250,250);*/
        background-color: #F2F6FC;
    }
    .te input.el-input__inner{
        width: 100px;
        height: 50px;
        color: red;
        text-align:right
    }

</style>
<body>
<div style="height: 250px;margin: 0 auto">
    <iframe src="hfqTop.html" width="100%" height="220px" scrolling="no" frameborder="0">
    </iframe>
</div>
<div id="main">
    <div style="overflow: hidden">
        <div style="float: left"><img v-bind:src="shop.shopHeadPicture" width="400px" height="400px"></div>
        <div style="float: left;width: 50%">
            <el-row>
                <el-col :span="12">&nbsp;</el-col>
                <el-col :span="12">{{shop.shopName}}~~~~~{{shop.id}}</el-col>
            </el-row>
            <el-row style="margin: 40px auto">
                <el-col :span="2">&nbsp;</el-col>
                <el-col :span="12">价格:  {{shop.shopPrice}}</el-col>
            </el-row>
            <el-row style="margin: 40px auto">
                <el-col :span="2">&nbsp;</el-col>
                <el-col :span="12">分类:{{shop.shopFamily}}</el-col>
            </el-row>
            <el-row style="margin: 40px auto">
                <el-col :span="2">&nbsp;</el-col>
                <el-col :span="12">尺寸:{{shop.shopName}}</el-col>
            </el-row>
            <el-row style="margin: 40px auto">
                <el-col :span="2">&nbsp;</el-col>
                <el-col :span="12">介绍:{{shop.shopIntroduction}}</el-col>
            </el-row>

            <el-row style="margin: 90px auto">
                <el-col :span="8">&nbsp;</el-col>
                <el-col :span="8"><el-button type="primary">立即购买</el-button></el-col>

                <el-col :span="6"><el-button type="primary">加入购物车</el-button></el-col>
            </el-row>
        </div>
    </div>
    <div style="width: 100%;background-color: #93D1FF">
        <el-row style="margin: 0px auto">
            <el-col :span="1">&nbsp;</el-col>
            <el-col :span="3">  <el-button>商品详情</el-button></el-col>
            <el-col :span="12">  <el-button>商家动态</el-button></el-col>
        </el-row>
    </div>
    <div>
        <div style="text-align: center;margin: 50px auto">
                <div><img style="margin: 25px auto" width="600px"     v-if="shopMainPic.pic_1 != null && shopMainPic.pic_1 != '' " v-bind:src="shopMainPic.pic_1"></div>
                <div><img style="margin: 25px auto" width="600px"   v-if="shopMainPic.pic_2 != null && shopMainPic.pic_2 != '' " v-bind:src="shopMainPic.pic_2"></div>
                <div><img style="margin: 25px auto" width="600px"  v-if="shopMainPic.pic_3 != null && shopMainPic.pic_3 != '' " v-bind:src="shopMainPic.pic_3"></div>
                <div><img style="margin: 25px auto" width="600px"   v-if="shopMainPic.pic_4 != null && shopMainPic.pic_4 != '' " v-bind:src="shopMainPic.pic_4"></div>
                <div><img style="margin: 25px auto" width="600px"    v-if="shopMainPic.pic_5 != null && shopMainPic.pic_5 != '' " v-bind:src="shopMainPic.pic_5"></div>
                <div><img style="margin: 25px auto" width="600px"   v-if="shopMainPic.pic_6 != null && shopMainPic.pic_6 != '' " v-bind:src="shopMainPic.pic_6"></div>
                <div><img style="margin: 25px auto" width="600px"   v-if="shopMainPic.pic_7 != null && shopMainPic.pic_7 != '' " v-bind:src="shopMainPic.pic_7"></div>
                <div><img style="margin: 25px auto" width="600px"  v-if="shopMainPic.pic_8 != null && shopMainPic.pic_8 != '' " v-bind:src="shopMainPic.pic_8"></div>
                <div><img style="margin: 25px auto" width="600px"   v-if="shopMainPic.pic_9 != null && shopMainPic.pic_9 != '' " v-bind:src="shopMainPic.pic_9"></div>
                <div><img style="margin: 25px auto" width="600px"   v-if="shopMainPic.pic_10 != null && shopMainPic.pic_10 != '' " v-bind:src="shopMainPic.pic_10"></div>
                </el-col>
        </div>
    </div>
</div>
<div id="foot" style="width: 100%;height: 370px;margin: 50px auto;border-top: 1px solid #ddd;">
    <iframe src="hfqFoot.html" width="100%" height="430px"  frameborder="0" scrolling="no" >
    </iframe>
</div>
<script>
    new Vue({
        el:'#main',
        data:{
            input:'',
            shop:'',
            shopMainPic:'',
        },
        created:function (){
            let shop = JSON.parse(sessionStorage.getItem("shopBuyDetailShop"));
            this.shop = shop;
            axios({
                method:'post',
                url:'/token/getShopMainPic',
                headers:{
                    'token' : sessionStorage.getItem("token")
                },
                data:{
                    id:this.shop.id,
                }
            }).then(res=> {
                this.shopMainPic = res.data;
            })
        }
    })
</script>
</body>
</html>