<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bishe.mapper.AddressMapper">


    <resultMap id="AddressResultMap" type="com.bishe.bean.Address">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="user_id" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="addressDetail" jdbcType="VARCHAR" property="addressDetail" />
        <result column="postCode" jdbcType="VARCHAR" property="postCode" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
    </resultMap>

    <resultMap id="getAddressShengTjResultMap" type="com.bishe.bean.AddressShengTj">
        <result column="sl" jdbcType="INTEGER" property="value" />
        <result column="sheng" jdbcType="VARCHAR" property="name" />
    </resultMap>

    <select id="getUserAddress" resultMap="AddressResultMap">
        select * from address where user_id = #{user_id}
    </select>

    <insert id="addUserAddress">
        insert address values (null,#{user_id},#{sheng},#{shi},#{qu},#{addressDetail},#{postCode},#{name},#{phone})
    </insert>

    <delete id="deleteUserAddress">
        delete  From address where user_id = #{user_id}
    </delete>

    <select id="getAddressShengTj" resultMap="getAddressShengTjResultMap">
        select count(*) sl,sheng from address group by sheng
    </select>
</mapper>