<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bishe.mapper.BackstageMapper">


    <resultMap id="adminResultMap" type="com.bishe.bean.Admin">
        <result column="admin_id" jdbcType="INTEGER" property="id" />
        <result column="admin_name" jdbcType="VARCHAR" property="name" />
        <result column="admin_password" jdbcType="VARCHAR" property="password" />
        <result column="admin_face" jdbcType="VARCHAR" property="face" />
    </resultMap>
    <resultMap id="shopResultMap" type="com.bishe.bean.Shop">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="userID" />
        <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
        <result column="shop_price" jdbcType="VARCHAR" property="shopPrice" />
        <result column="shop_introduction" jdbcType="VARCHAR" property="shopIntroduction" />
        <result column="shop_head_picture" jdbcType="VARCHAR" property="shopHeadPicture" />
        <result column="auditStatus" jdbcType="VARCHAR" property="auditStatus" />
    </resultMap>

    <resultMap id="getAccountByShopFamilyResultMap" type="com.bishe.bean.ShopFamilyAccount">
        <result column="shop_family" jdbcType="VARCHAR" property="shopFamily" />
        <result column="sl" jdbcType="VARCHAR" property="account" />
    </resultMap>

    <select id="getAdminByName" resultMap="adminResultMap">
        select * from admin where admin_name = #{adminName}
    </select>

    <update id="updateShopAuditStatusTj" >
        update shop set auditStatus = '10' where id = #{id}
    </update>

    <update id="updateShopAuditStatusQxTj" >
        update shop set auditStatus = '1' where id = #{id}
    </update>

    <select id="getAllShopByTime" resultMap="shopResultMap">
        select * from shop  where (auditStatus = '1' or auditStatus = '10') ORDER BY createDate desc
    </select>

    <select id="getMessage" resultType="String">
        select notification from notification where id = 1
    </select>

    <update id="setMessage">
        update notification set notification = #{messgae}
    </update>

    <select id="getAccountByShopFamily" resultMap="getAccountByShopFamilyResultMap">
        select shop_family,count(1) sl from shop group by shop_family;
    </select>
</mapper>