<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bishe.mapper.DynamicMapper">


    <resultMap id="shopResultMap" type="com.bishe.bean.Shop">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="userID" />
        <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
        <result column="shop_price" jdbcType="VARCHAR" property="shopPrice" />
        <result column="shop_introduction" jdbcType="VARCHAR" property="shopIntroduction" />
        <result column="shop_head_picture" jdbcType="VARCHAR" property="shopHeadPicture" />
        <result column="auditStatus" jdbcType="VARCHAR" property="auditStatus" />
    </resultMap>


    <resultMap id="commentResultMap" type="com.bishe.bean.Comment">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="user_id" />
        <result column="user_dynamic" jdbcType="INTEGER" property="user_dynamic" />
        <result column="pl" jdbcType="VARCHAR" property="pl" />
        <result column="user_tx" jdbcType="VARCHAR" property="user_tx" />
        <result column="user_name" jdbcType="VARCHAR" property="user_name" />
    </resultMap>



    <resultMap id="dynamicResultMap" type="com.bishe.bean.Dynamic">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="user_id" />
        <result column="words" jdbcType="VARCHAR" property="words" />
        <result column="pic_1" jdbcType="VARCHAR" property="pic_1" />
        <result column="pic_2" jdbcType="VARCHAR" property="pic_2" />
        <result column="pic_3" jdbcType="VARCHAR" property="pic_3" />
        <result column="pic_4" jdbcType="VARCHAR" property="pic_4" />
        <result column="pic_5" jdbcType="VARCHAR" property="pic_5" />
        <result column="pic_6" jdbcType="VARCHAR" property="pic_6" />
        <result column="pic_7" jdbcType="VARCHAR" property="pic_7" />
        <result column="pic_8" jdbcType="VARCHAR" property="pic_8" />
        <result column="pic_9" jdbcType="VARCHAR" property="pic_9" />
        <result column="pic_10" jdbcType="VARCHAR" property="pic_10" />
        <result column="createTime" property="createTime"/>
    </resultMap>

    <update id="updateShop" parameterType="com.bishe.bean.Shop">
        update shop set shop_name = #{shopName},shop_price=#{shopPrice},shop_family=#{shopFamily},shop_introduction=#{shopIntroduction},
                        auditStatus=#{auditStatus},shop_head_picture=#{shopHeadPicture}  where id = #{id};
    </update>

    <update id="addMyDynamicPic_1">
        update user_Dynamic set pic_1 = #{url} where id = #{id}
    </update>

    <update id="addMyDynamicPic_2">
        update  user_Dynamic set pic_2 = #{url} where id = #{id}
    </update>

    <update id="addMyDynamicPic_3">
        update  user_Dynamic set pic_3 = #{url} where id = #{id}
    </update>

    <update id="addMyDynamicPic_4">
        update  user_Dynamic set pic_4 = #{url} where id = #{id}
    </update>

    <update id="addMyDynamicPic_5">
        update  user_Dynamic set pic_5 = #{url} where id = #{id}
    </update>

    <update id="addMyDynamicPic_6">
        update  user_Dynamic set pic_6 = #{url} where id = #{id}
    </update>

    <update id="addMyDynamicPic_7">
        update  user_Dynamic set pic_7 = #{url} where id = #{id}
    </update>

    <update id="addMyDynamicPic_8">
        update  user_Dynamic set pic_8 = #{url} where id = #{id}
    </update>

    <update id="addMyDynamicPic_9">
        update  user_Dynamic set pic_9 = #{url} where id = #{id}
    </update>

    <insert id="createUserDynamic" parameterType="com.bishe.bean.Dynamic" useGeneratedKeys="true" keyProperty="id">
        insert user_Dynamic values (null,#{user_id},#{words},'','','','','','','','','',now())
    </insert>

    <delete id="deleteUserDynamic">
        delete user_Dynamic where id = #{id}
    </delete>

    <select id="getDynamicByTime" resultMap="dynamicResultMap">
        select * from user_Dynamic order by createTime desc limit #{pageSize} offset #{offset}
    </select>

    <insert id="tjpl" parameterType="com.bishe.bean.Comment">
        insert comment values (null,#{user_id},#{user_dynamic},#{pl},#{user_tx},#{user_name})
    </insert>

    <select id="ckpl" resultMap="commentResultMap">
        select * from comment where user_dynamic = #{id}
    </select>

    <select id="ckdzsfcf" parameterType="com.bishe.bean.GiveUp" resultType="java.lang.Integer">
        select count(1) from giveUp where dynamic_id = #{dynamic_id} and user_id=#{user_id}
    </select>

    <insert id="pldz" parameterType="com.bishe.bean.GiveUp">
        insert giveUp values (null,#{user_id},#{dynamic_id});
    </insert>
</mapper>