<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bishe.mapper.IndexShopMapper">


    <resultMap id="shopResultMap" type="com.bishe.bean.Shop">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="userID" />
        <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
        <result column="shop_price" jdbcType="VARCHAR" property="shopPrice" />
        <result column="shop_introduction" jdbcType="VARCHAR" property="shopIntroduction" />
        <result column="shop_head_picture" jdbcType="VARCHAR" property="shopHeadPicture" />
        <result column="auditStatus" jdbcType="VARCHAR" property="auditStatus" />
    </resultMap>

    <resultMap id="shopHeadPicMap" type="com.bishe.bean.ShopMainPicture">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="shop_id" jdbcType="INTEGER" property="shop_id" />
        <result column="pic_1" jdbcType="VARCHAR" property="pic_1" />
        <result column="pic_2" jdbcType="VARCHAR" property="pic_2" />
        <result column="pic_3" jdbcType="VARCHAR" property="pic_3" />
        <result column="pic_4" jdbcType="VARCHAR" property="pic_4" />
        <result column="pic_5" jdbcType="VARCHAR" property="pic_5" />
        <result column="pic_6" jdbcType="VARCHAR" property="pic_6" />
        <result column="pic_7" jdbcType="VARCHAR" property="pic_7" />
        <result column="pic_8" jdbcType="VARCHAR" property="pic_8" />
        <result column="pic_9" jdbcType="VARCHAR" property="pic_9" />
        <result column="pic_10" jdbcType="VARCHAR" property="pic_10" />
    </resultMap>
<select id="getShopNew" resultMap="shopResultMap">
   select * from shop where auditStatus = '上架' limit 10
</select>

</mapper>