<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bishe.mapper.ShopMapper">


    <resultMap id="shopResultMap" type="com.bishe.bean.Shop">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="userID" />
        <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
        <result column="shop_price" jdbcType="VARCHAR" property="shopPrice" />
        <result column="shop_introduction" jdbcType="VARCHAR" property="shopIntroduction" />
        <result column="shop_head_picture" jdbcType="VARCHAR" property="shopHeadPicture" />
        <result column="auditStatus" jdbcType="VARCHAR" property="auditStatus" />
    </resultMap>

    <insert id="shopCreate">
        insert into shop values (null,#{userID},#{shopName},#{shopPrice},#{shopFamily},#{shopIntroduction},#{shopHeadPicture},#{auditStatus},now());
    </insert>

    <select id="getShopAccount" resultType="Integer">
        select count(*) from shop where user_id = #{userId}
    </select>

    <select id="getShopMessage" resultMap="shopResultMap">
        select * from shop where user_id = #{userId} limit #{min},#{max}
    </select>
</mapper>