<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bishe.mapper.UserMapper">


    <resultMap id="userResultMap" type="com.bishe.bean.User">
        <result column="user_id" jdbcType="INTEGER" property="id" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="user_email" jdbcType="VARCHAR" property="email" />
        <result column="user_password" jdbcType="VARCHAR" property="password" />
        <result column="user_headPic" jdbcType="VARCHAR" property="headPic" />
    </resultMap>

    <select id="getUserByEmail" resultMap="userResultMap">
        select * from user where user_email = #{email}
    </select>

    <select id="getUserByUserName" resultMap="userResultMap">
        select * from user where user_name =  #{userName}
    </select>

    <select id="getUserById" resultMap="userResultMap">
        select * from user where user_id =  #{userID}
    </select>

    <select id="getAllUser" resultMap="userResultMap">
        select * from user
    </select>

    <insert id="addUser">
        insert into user values(null,#{userName},#{email},#{password})
    </insert>

    <select id="getUserIsRepeat" resultType="int">
      select count(*) from user where user_name =  #{userName}
    </select>

    <update id="userHeadPicUpdate">
        update  user set  user_headPic = #{headPic} where user_id = #{id}
    </update>



</mapper>